:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    overflow: hidden;
}

.container {
    background-color: var(--dark-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.bg-pattern-top {
    position: absolute;
    top: -50%;
    right: 50%;
    z-index: 1;
}

.bg-pattern-bottom {
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: white;
    max-width: 350px;
    margin: auto;
    position: relative;
    border-radius: 15px;
    z-index: 2;
    box-shadow: 0px 30px 50px 10px rgba(0, 0, 0, 0.2);
}

.card-bg {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.profile-img {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid white;
}

.info-data h2 {
    margin-top: 70px;
    margin-bottom: 10px;
    color: var(--very-dark-desaturated-blue);
    font-size: 18px;
}

.info-data span {
    color: var(--dark-grayish-blue);
    font-weight: 400;
}

.info-data p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
    margin-bottom: 20px;
}

.social {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.social-info p:first-child {
    font-weight: 700;
    font-size: 18px;
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 4px;
}

.social-info p:last-child {
    color: var(--dark-grayish-blue);
    font-size: 12px;
}